/*-------- Basic HTML Styling Goes Here ----------*/

body {
/* Img from Pinterest User "uerdemli" */
background: url("img/cf.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    text-align: center; 
    color: black !important; 
    font-family: 'Alfa Slab One', cursive;
}



/*-------- API Styling Goes Here ----------*/

.table, th, td {
    border: 1px solid black; 
}

#RefereeApp {
    background-color: white; 
}
