/*-------- BASIC HTML Styling Goes Here ----------*/

body {
/* Img from Pinterest User "uerdemli" */
background: url("img/cf.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo {
    text-align: center; 
    color: black !important; 
    font-family: 'Alfa Slab One', cursive;
}

/*-------- NAVIGATION Styling Goes Here ----------*/
.nav.navbar-nav li a:hover {
    text-decoration: underline;
    color: #9B0000;
    }

a.dropdown-item {
    color: black; 
    text-decoration: none;
}

a.nav-link.active {
    text-decoration: underline;
    color: #9B0000 !important; 
}


/*-------- API Styling Goes Here ----------*/
.table, th, td {
    border: 1px solid black;
} 

#RefereeApp, #ReportApp {
    background-color: white; 
}
